<!doctype html>
<title>chat</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<style>body { margin: auto; padding: 1em; background: black; color: #fff; font: 16px/1.6 menlo, monospace; }</style>
<h2><b>ButtonLight</b></h2>
<!-- <p>Message: <input id="in" /></p> -->
<pre id="out"></pre>
<script>
    function sse() {
        var source = new EventSource('/stream');
        var out = document.getElementById('out');
        source.onmessage = function(e) {
            if (e.data == 1) return;
            var data = JSON.parse(e.data);
            var d = new Date(data['time']);
            out.innerHTML =  d + ' | Device: ' + data['device_id'] + ' | Status: ' + data['status'] + '\n' + out.innerHTML;
        };
    }
    // $('#in').keyup(function(e){
    //     if (e.keyCode == 13) {
    //         $.post('/post', {'message': $(this).val()});
    //         $(this).val('');
    //     }
    // });
    sse();
</script>
